<div class="container">
  <h1>Dashboard</h1>

  <h1>List of employees</h1>
  <%= render 'users/employees' %>
  <h1>Recent Recognitions Given</h1>
  <%= render 'recognitions/card' %>
  <h1>Recognitions Recieved</h1>
  <%= render 'recognitions/recieved_card' %>
</div>
