<div class="card card-index-sm" style="">
  <% @recognitions_recieved.each do |recognition| %>
    <h4><%= recognition.recognizer.name %></h4>
    <p><strong><%= recognition.name %>:</strong> <%= recognition.description %></p>
  <% end %>
</div>