 <% @users.each do |user| %>
    <h4><%= user.name %> </h4>
    <ul>
      <% user.recognitions_gave.each do |recognition| %>
      <li><%= recognition.name %>. <%= recognition.description %></li>
      <% end %>
    </ul>
  <% end %>