<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand d-flex" href="/">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
  </a>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
</div>
