<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to the Employee Recognitinon page!</h1>
    <p>Want to recogognize an employee for somethinng?</p>
    <% if user_signed_in? %>
      <%= link_to  "To your dashboard", dashboard_path, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to  "Sign in", new_user_session_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
