<%= render 'header' %>

<div class="container">
  <h3>Your recent recognitions</h3>
  
  <div class="cards-index-columns">
    <% @recognitions_gave.each do |recognition| %>
      <%= render 'recognitions/card', recognition: recognition %>
    <% end %>
  </div>

</div>


