<%= render 'pages/header' %>

<h1>hello</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim impedit aperiam natus in! Expedita repellendus necessitatibus eum ratione dignissimos, fugit, earum nihil iure hic ad sunt, vel itaque iste qui?</p>


